body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#ward{
  border: solid black;
  background-color: gold;
  text-align: center;
  font-size: larger;
}

span {
  margin-right: 20px;
}

.hidden{
  display: none;
}

.show{
  display:block
}



.bag{
  display:block;
  border:solid black;
  background-color: blanchedalmond;
}
.show_button{
  display:inline;
}

.green{
border: solid black;
background-color: lightgreen;
}

.red{
  border: solid black;
  background-color: lightcoral;
}

.amber{
  border: solid black;
  background-color: orange;
}

.white{
  border: narrow ;
  background-color: white;
}